<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bulma.min.css" />
    <script src="/javascipts/task.js"></script>
    <title><%= title%></title>
    <style>
        ::-webkit-scrollbar {
            width: 0px; 
            background-color: #f1f1f1; 
        }
        .hero.is-link{
            background-color: #4e22e3;
        }
    </style>
</head>

<body>